/* */
body{background-color: whitesmoke;
}
main{
    height: 100%;
    padding: 20px;
}
footer{
    margin-top: 20px;
}
img{
    height:35px;
    width:35px;
}
p{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
/* Header */
.contenedor-header{
    display: flex;
    flex-direction: column;
    background-color:#eb8642;
    flex-grow: 1;
}
.contenedor-header h1{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight:normal;
    padding-top: 20px;
    padding-left: 20px;
}
.navbar-nav{
    margin-left: auto;
}
.navbar .navbar-nav .nav-link{
    color: #f1f1f1;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 150;
}
/* Footer */
.contenedor-footer{
    display: grid;
    grid-template-areas: 'div1'
    'div2' 
    'div3';
}
.div-footer{
    height: 35px;
    width:100%;
}
.div1{
    background-color:#ae1c28;
}
.div2{
    background-color:white;
}
.div3{
    background-color:#21468b;
}
.footer-texto{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.footer-texto p {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 15px;
}

/* Cajas Dejanos tu mensaje*/
.mensaje-caja{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.texto-caja{
    text-align: center;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

/* Grid */
.grid-container{
    display: grid;
    gap: 0px 20px;
    grid-template-areas: 'mensaje informacion'
    'mensaje redes'
    'mensaje espacio';
    grid-template-rows: min-content min-content 1fr;
}
.item1{
    grid-area: mensaje;
    background-color: gainsboro;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.item2{
    grid-area: informacion;
    padding-left: 20px;
    padding-top: 20px;
}
.grid-redes{
    grid-area: redes;
    padding-left: 20px;
}
.flex-redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow:1;
    gap: 20px;
}
.espacio{
    grid-area: espacio;
}
.grid-container h1{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.label{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.mensaje{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

/*Media queries */

@media (max-width:600px){
    /* */
    body{
      background-color: gray;
    }
    .nav-header{
      flex-wrap: wrap;
    }
    .footer-texto{
        justify-content: left;
    }
    .footer-texto p {
        font-size: 3px;
    }
    /*Grid*/
    .grid-container{
        grid-template-areas: 'mensaje'
        'informacion'
        'redes'
        'espacio';
    }
    /* eliminar lo que esta en el footer*/
    .footer-texto{
        display: none;
    }
}
@media (max-width:730px){
    body{
      background-color: gray;
    }
    .nav-header{
      flex-wrap: wrap;
    }
    .footer-texto p {
        font-size: x-small;
    }
    .grid-container{
        grid-template-areas: 'mensaje'
        'informacion'
        'redes'
        'espacio';
    }
    
}
