body{background-color: whitesmoke;
}
main{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
p{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
main h1{
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
/* Header */
.contenedor-header{
    display: flex;
    flex-direction: column;
    background-color:#eb8642;
    flex-grow: 1;
}
.contenedor-header h1{
    text-align: left;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight:normal;
}
.nav-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-header a {
    color: #f1f1f1;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 150;
}
.nav-header a:hover {
    color: black ;
}
.contenedor-media{
    display: grid;
    grid-template-areas: 'video imagen1 imagen2';
    grid-template-columns: fit-content fit-content fit-content;
    padding-right: 20px;
    gap:20px;
}
.video{
    grid-area: video;
}
.imagen1{
    grid-area: imagen1;
}
.imagen1 img{
    width:90%;
    height:90%
}
.imagen2{
    grid-area: imagen2;
}
.imagen2 img{
    width:90%;
    height:90%
}

/*Footer*/
.contenedor-footer{
    display: grid;
    grid-template-columns: 'div1'
    'div2'
    'div3';
}
.div-footer{
    height: 35px;
    width:100%;
}
.div1{
    background-color:#ae1c28;
}
.div2{
    background-color:white;
}
.div3{
    background-color:#21468b;
}
.footer-texto{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.footer-texto p {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 15px;
}
@media (max-width:650px){
    /* */
    body{
      background-color: gray;
    }
    .nav-header{
      flex-wrap: wrap;
    }
    /* eliminar lo que esta en el footer*/
    .footer-texto{
        display: none;
    }
    .contenedor-media{
        grid-template-areas: 'video'
        'imagen1'
        'imagen2';
    }
}
@media (max-width:750px){
    body{
      background-color: gray;
    }
    .nav-header{
      flex-wrap: wrap;
    }
    .footer-texto p {
        font-size: small;
    }
    .footer-texto{
        justify-content: left;
    }
}
@media (max-width:1250px){
    body{
      background-color: gray;
    }
    .nav-header{
      flex-wrap: wrap;
    }
    .video iframe{
        width: 100%;
        height: 100%;
    }
    .footer-texto p {
        font-size: small;
    }
    .footer-texto{
        justify-content: left;
    }
}

