/* 
*{
    border: 1px solid pink;
}
*/
header{font-size: 100px; text-align:center; }

body{background-color: whitesmoke;
   }

h1{color: black ;font-size: 50px;}

footer{text-align: center;margin-top: 80px;}

.images{
    width: 400px;
    height: 300px;
}

#titular{
    color:rgb(189, 5, 5);
    font-size: 50px;
    text-align: center;}

.elemento{
    color: white;
}
.margenes{
    margin-top: 10px;
}

/* comentario */