body{background-color: whitesmoke;
}
header{
    background-color: #eb8642;
}
main{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
p{
    font-size: 16px;
    font-family: 'Alexandria';
    font-weight: lighter;
}
main h1{
    font-size: 24px;
    font-family: 'Alexandria';
    font-weight: bold;
}
main h5{
    font-size: 18px;
    font-family: 'Alexandria';
    font-weight: bold;
}
/* Header */
.contenedor-header{
    display: flex;
    flex-direction: column;
    background-color:#eb8642;
    flex-grow: 1;
}
.contenedor-header h1{
    text-align: left;
    font-family: 'Alexandria';
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight:lighter;
    padding-top: 20px;
    padding-left: 20px;
}
.navbar-nav{
    margin-left: auto;
}
.navbar .navbar-nav .nav-link{
    color: #f1f1f1;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Alexandria';
    font-size: 3vh;
    font-weight: 150;
}
.flex-historia{
    display: flex;
    flex-direction: row;
}
.flex-historia img{
    max-height:538px;
    max-width:662px;
}
.flex-texto{
    display:flex;
    flex-direction: column;
    padding-right: 20px;
}
.contenedor-media{
    display: grid;
    grid-template-areas: 'texto'
    'video';
    grid-template-columns: fit-content;
    grid-template-rows:fit-content max-content;
    padding-right: 20px;
    gap:20px;
    padding-bottom: 20px;
}
.grid-imagenes{
    display: grid;
    grid-template-areas: 'texto1 texto2'
    'imagen1 imagen2';
    grid-template-columns: max-content max-content;
    grid-template-rows: fit-content max-content;
    gap:20px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.texto1{
    grid-area: texto1;
    color: gray;
}
.texto2{
    grid-area: texto2;
    color: gray;
}
.texto1 h1, .texto2 h1{
    font-weight: normal;
}
.imagen1 {
    grid-area: imagen1;
}
.imagen2 {
    grid-area: imagen2;
}
.imagen1 img, .imagen2 img{
    max-width:433px;
    max-height:489px;
}
/* FOOTER */
footer{
    padding-top: 20px;
}
.contenedor-footer{
    display: grid;
    grid-template-rows: 'div1 div2 div3';
  }
.div-footer{
    height:35px;
    width:100%;
  }
.div1{
    background-color:#ae1c28;
  }
.div2{
    background-color:white;
  }
.div3{
    background-color:#21468b;
  }
.footer-texto{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
  }
.footer-texto p {
    font-family: 'Alexandria';
    color:black;
    font-size: 15px;
    font-weight: lighter;
}
@media (max-width:650px){
    /* */
    .nav-header{
      flex-wrap: wrap;
    }
    /* eliminar lo que esta en el footer*/
    .footer-texto{
        display: none;
    }
    .flex-historia img{
        max-height:338px;
        max-width:432px;
    }
}
@media screen and (max-width:750px){
    .footer-texto p {
        font-size: small;
    }
    .flex-historia{
        flex-direction: column;
        align-items: center;
    }
    .flex-historia p{
        text-align: center;
    }
    .grid-imagenes{
        grid-template-areas: 'texto1'
        'imagen1'
        'texto2'
        'imagen2';
        grid-template-columns: max-content;
        padding: 20px;
    }
    .grid-imagenes img{
        width: 80%;
        height: auto;
    }
}
@media screen and (max-width:1050px){
    .grid-imagenes img{
        max-width:400px;
        height: auto;
    }
    .contenedor-media iframe{
        width: 100%;
        height: auto;
    }
}