body, html, main {
    height: 100%;
}
body{background-color: whitesmoke;
}
main{
    height: 100%;
    padding: 20px;
}
main h1{
    color: black; 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
}
main p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
/* Header */
.contenedor-header{
    display: flex;
    flex-direction: column;
    background-color:#eb8642;
    flex-grow: 1;
}
.contenedor-header h1{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight:normal;
    padding-top: 20px;
    padding-left: 20px;
}
.navbar-nav{
    margin-left: auto;
}
.navbar .navbar-nav .nav-link{
    color: #f1f1f1;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 150;
}
.contenedor-footer{
    display: grid;
    grid-template-columns: 'div1'
    'div2'
    'div3';
}
.div-footer{
    height: 35px;
    width:100%;
}
.div1{
    background-color:#ae1c28;
}
.div2{
    background-color:white;
}
.div3{
    background-color:#21468b;
}
.footer-texto{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}
.footer-texto p {
    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: 15px;
}
@media (max-width:650px){
    /* */
    body{
      background-color: gray;
    }
    .nav-header{
      flex-wrap: wrap;
    }
    /* eliminar lo que esta en el footer*/
    .footer-texto{
        display: none;
    }
}
@media (max-width:750px){
    body{
      background-color: gray;
    }
    .nav-header{
      flex-wrap: wrap;
    }
    .footer-texto p {
        font-size: small;
    }
    .footer-texto{
        justify-content: left;
    }
}