body{background-color: whitesmoke;
}
main{
  height: 100%;
  padding: 20px;
}
main h1{
  color: black; 
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bold;
}
main p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
}
form{
  text-align:start;
}
/* Header */
.contenedor-header{
  display: flex;
  flex-direction: column;
  background-color:#eb8642;
  flex-grow: 1;
}
.contenedor-header h1{
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  font-size: 28px;
  color: white;
  font-weight:normal;
  padding-top: 20px;
  padding-left: 20px;
}
.navbar-nav{
  margin-left: auto;
}
.navbar .navbar-nav .nav-link{
  color: #f1f1f1;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 150;
}
#titulo{
    color: black;
    text-align: center;
    font-size: xx-large;
}
.mensaje{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elemento{
    color: white;
}
.wrapper{
    display: grid;
}
/*Footer*/
.contenedor-footer{
  display: grid;
  grid-template-columns: 'div1'
  'div2'
  'div3';
}
.div-footer{
  height: 35px;
  width:100%;
}
.div1{
  background-color:#ae1c28;
}
.div2{
  background-color:white;
}
.div3{
  background-color:#21468b;
}
.footer-texto{
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
.footer-texto p {
  font-family: 'Courier New', Courier, monospace;
  color:black;
  font-size: 15px;
}

@media (max-width:650px){
  /* */
  body{
    background-color: gray;
  }
  .nav-header{
    flex-wrap: wrap;
  }
  img{
    width: 90%;
  }
  /* eliminar lo que esta en el footer*/
  .footer-texto{
      display: none;
  }
}
@media (max-width:750px){
  body{
    background-color: gray;
  }
  .nav-header{
    flex-wrap: wrap;
  }
  .footer-texto p {
      font-size: small;
  }
  .footer-texto{
      justify-content: left;
  }
}



/*EXTRAS*/
.container-card{
  display: grid;

}
.card{
  grid-area: card;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 35%;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
  border-radius: 5px 5px 0 0;
  height: 30%;
  width: 30%;
}
.texto-card {
  padding: 2px 16px;
}